{{ define "partials/media-text.html" }}
<!-- this is a simple template to display a static webpage that has media photo on a side with text on the right for all md resolutions
while a row alignment in sm and below resolutions Send in the data from handler it gets formatted here as required-->
<div class="container mt-5">
    <section class="d-block d-md-none">
        {{ range .TemplData}}
        <div class="container mb-4">
            <div class="row justify-content-center mb-4">
                <img style="max-width: 65%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="{{.ImgPath}}" alt="Generic placeholder image">
            </div>
            <div class="row text-center">
                <h4 class="text-secondary">{{.Header}}</h4>
                <hr>
            </div>
            <div class="row text-center">
                {{.Para}}
            </div>
        </div>
        {{ end }}
    </section>
    <section class="d-none d-md-block">
        {{ range .TemplData}}
        <div class="container col-10 offset-1 mt-5">
            <div class="media">
                <img style="max-width: 15%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="{{.ImgPath}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h4 class="text-secondary">{{.Header}}</h4>
                    <hr>
                    {{.LongPara}}
                </div>
            </div>
        </div>
        {{ end }}
    </section>
</div>
{{ end }}