{{ define "partials/nav-next.html"}}
<div class="container">
    <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center align-items-center">
        <a href="/"><button type="button" class="btn btn-outline-info mr-2">Home</button></a>
        {{ if . }}
            {{ if notEmpty .Prev}}
                <a href="{{.Prev}}"><button type="button" class="btn btn-outline-info ">Prev</button></a>
            {{ end }}
            {{ if notEmpty .Next}}
                <a  href="{{.Next}}"><button type="button" class="btn btn-outline-info ">Next</button></a>
            {{end}}
        {{ end}}
    </div>
</div>
{{ end }}