<div class="container mt-5">
    <section class="d-none d-md-block" id="splash_md_devices">
        <div class="container col-12 mt-5 mb-5">
            <div class="media">
                <div class="media-body mx-5">
                    <h3 class="mt-0 text-primary">Backyard aquaponics</h3>
                    <hr>
                    <p>
                        At Gills & Chlorophyll, we are pioneering the future of sustainable agriculture through the
                        innovative method of aquaponics. Our unique approach harmoniously combines aquaculture and
                        hydroponics, creating a symbiotic environment where fish and plants thrive together.
                    </p>
                    <p>
                        Our vision is to revolutionize farming by creating eco-friendly,
                        efficient, and sustainable food production systems.By leveraging the natural relationship
                        between fish and plants, we aim to produce fresh, healthy, and nutritious food while conserving
                        valuable resources.
                    </p>
                    <p>
                        In our integrated system, nutrient-rich water from fish tanks provides essential nourishment to
                        the plants. The plants, in turn, filter and purify the water, creating a clean and
                        healthy environment for the fish. This closed-loop system minimizes waste, reduces water usage,
                        and
                        eliminates the need for chemical fertilizers and pesticides
                    </p>
                    <a href="/about-aquaponics"><button type="button"
                            class="btn btn-outline-primary">More...</button></a>
                </div>
                <img style="max-width: 18%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/tomato_gravel.png" alt="Generic placeholder image">
            </div>
        </div>

        <div class="container col-12 mt-5 mb-5">
            <div class="media">
                <img style="max-width: 18%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/industrial_farming.png" alt="Generic placeholder image">
                <div class="media-body mx-5">
                    <h3 class="mt-0 text-primary">Why Gills & Chlorophyll?</h3>
                    <hr>
                    <p><strong class="text-secondary">Sustainability:</strong> Our method reduces environmental impact
                        by
                        using significantly less water than traditional farming and eliminating agricultural runoff.</p>
                    <p><strong class="text-secondary">Quality:</strong> We produce high-quality, pesticide-free
                        vegetables
                        and herbs, along with healthy, sustainably raised fish.</p>
                    <p><strong class="text-secondary">Innovation:</strong> By harnessing the power of nature, we create
                        a
                        productive and efficient farming system that can be implemented in diverse environments, from
                        urban
                        rooftops to rural landscapes.</p>
                </div>
            </div>
        </div>

        <div class="container col-12 mt-5 mb-5">
            <div class="media">

                <div class="media-body mx-5">
                    <h3 class="mt-0 text-primary">Our journey</h3>
                    <hr>
                    <p>
                        Gills & Chlorophyll is the result of a strategic joint venture between Eensymachines &
                        Metcons, Pune. Eensymachines brings unparalleled expertise in developing
                        cloud-connected IoT solutions, enabling advanced technological integration and remote monitoring
                        capabilities within our
                        aquaponics system. Meanwhile, Metcons Pune contributes its extensive experience in fabricating
                        high-quality
                        vinyls and robust structural components, ensuring the physical integrity and durability of our
                        setup.
                    </p>
                    <p>
                        This collaboration was a natural convergence of complementary
                        skills and vision, akin to a startup poised for success. Together, we have combined cutting-edge
                        technology with
                        superior craftsmanship to create a pioneering aquaponics system that stands as a testament to
                        innovation
                        and sustainability.
                    </p>
                    <a href="" type="button"><button type="button" class="btn btn-outline-primary">More..</button></a>
                </div>
                <img style="max-width: 18%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/partners_farming.png" alt="Generic placeholder image">
            </div>
        </div>

        <div class="container col-12 mt-5 mb-5">
            <div class="media">
                <img style="max-width: 18%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/joinus.png" alt="Generic placeholder image">
                <div class="media-body mx-5">
                    <h3 class="mt-0 text-primary">Join us..</h3>
                    <hr>
                    <p>
                        Join us on our journey to create a greener future with Gills and Chlorophyll. Together, we can
                        cultivate harmony between nature and technology, ensuring a sustainable food supply for
                        generations
                        to come. Welcome to the future of farming. Welcome to Gills and Chlorophyll - Harvesting
                        Harmony.
                    </p>
                    <p>
                        Have you always envisioned creating a setup like ours? Are you a dedicated environmentalist?
                        Perhaps you have a background in urban farming and are keen to explore further. Or maybe you are
                        a visitor to our website who has recently discovered a newfound passion for aquaponics.
                    </p>
                    <a href="/join-us"><button type="button"
                            class="btn btn-outline-primary">More..</button></a>
                </div>
            </div>
        </div>

        <div class="container col-12 mt-5 mb-5">
            <div class="media">

                <div class="media-body mx-5">
                    <h3 class="mt-0 text-primary">Proudly Indian</h3>
                    <hr>
                    <p>
                        At Gills and Chlorophyll, we are deeply rooted in the rich
                        agricultural heritage of India.
                        Drawing
                        inspiration from our nation's age-old farming traditions and innovative spirit, we are committed
                        to
                        advancing sustainable agriculture for the future.
                    </p>
                    <p>
                        Our aquaponics systems are designed and developed locally, utilizing the wealth of knowledge and
                        resources that India has to offer. By embracing modern technology
                        and eco-friendly practices, we
                        aim to contribute to India's food security and environmental sustainability.
                    </p>
                    <p>
                        Proudly Indian, we are dedicated to nurturing our land, empowering our communities, and
                        providing fresh,
                        healthy, and nutritious food for all. Join us as we pave the way
                        for a greener and more
                        prosperous
                        India.
                    </p>
                </div>
                <img style="max-width: 18%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/indian_aquaponics.png" alt="Generic placeholder image">
            </div>
        </div>
    </section>
    <section id="section_sm_devices" class="d-block d-md-none">
        <div class="container-fluid mb-4">
            <div class="row justify-content-center mb-4">
                <img style="max-width: 50%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/tomato_gravel.png" alt="Generic placeholder image">
            </div>
            <div class="row text-center">
                <h4>Backyard aquaponics</h4>
                <hr>
            </div>
            <div class="row text-center">
                <p>At Gills & Chlorophyll, we are pioneering sustainable agriculture through aquaponics, combining
                    aquaculture and hydroponics to create a symbiotic environment where fish and plants thrive together.
                    Our eco-friendly, efficient system uses nutrient-rich water from fish tanks to nourish plants, which
                    then filter and purify the water for the fish. This closed-loop approach minimizes waste, reduces
                    water usage, and eliminates the need for chemical fertilizers and pesticides, producing fresh,
                    healthy food while conserving valuable resources.</p>
            </div>
            <div class="row">
                <a href="/about-aquaponics"><button type="button"
                    class="btn btn-outline-primary btn-block">More...</button></a>
            </div>
        </div>

        <div class="container-fluid mb-4">
            <div class="row justify-content-center mb-4">
                <img style="max-width: 50%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/industrial_farming.png" alt="Generic placeholder image">
            </div>
            <div class="row text-center">
                <h4>Why Gills & Chlorophyll?</h4>
                <hr>
            </div>
            <div class="row text-center">
                <p>Our method is highly sustainable, using significantly less water than traditional farming and
                    eliminating agricultural runoff. We produce high-quality, pesticide-free vegetables and herbs, along
                    with healthy, sustainably raised fish. By harnessing the power of nature, our innovative farming
                    system is productive and efficient, adaptable to diverse environments from urban rooftops to rural
                    landscapes.</p>
            </div>
        </div>

        <div class="container-fluid mb-4">
            <div class="row justify-content-center mb-4">
                <img style="max-width: 50%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/partners_farming.png" alt="Generic placeholder image">
            </div>
            <div class="row text-center">
                <h4>Our journey</h4>
                <hr>
            </div>
            <div class="row text-center">
                <p>Gills & Chlorophyll is the result of a strategic joint venture between Eensymachines & Metcons, Pune.
                    Eensymachines brings unparalleled expertise in developing cloud-connected IoT solutions, enabling
                    advanced technological integration and remote monitoring capabilities within our aquaponics system.
                    Meanwhile, Metcons Pune contributes its extensive experience in fabricating high-quality vinyls and
                    robust structural components, ensuring the physical integrity and durability of our setup</p>
            </div>
            <div class="row">
                <a href="/more-about-aquaponics"><button type="button"
                    class="btn btn-outline-primary btn-block">More...</button></a>
            </div>
        </div>

        <div class="container-fluid mb-4">
            <div class="row justify-content-center mb-4">
                <img style="max-width: 50%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/joinus.png" alt="Generic placeholder image">
            </div>
            <div class="row text-center">
                <h4>Join us..</h4>
                <hr>
            </div>
            <div class="row text-center">
                <p>Join us at Gills and Chlorophyll to create a greener future, where nature and technology harmonize for a sustainable food supply. Welcome to the future of farming—welcome to Gills and Chlorophyll: Harvesting Harmony.Whether you envision a setup like ours, are a dedicated environmentalist, have experience in urban farming, or have recently discovered a passion for aquaponics, we invite you to explore and contribute to our journey.</p>
            </div>
            <div class="row">
                <a href="/more-about-aquaponics"><button type="button"
                    class="btn btn-outline-primary btn-block">More...</button></a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center mb-4">
                <img style="max-width: 50%; height: auto;" class="align-self-center mr-3 rounded-circle"
                    src="/images/indian_aquaponics.png" alt="Generic placeholder image">
            </div>
            <div class="row text-center">
                <h4>Proudly Indian</h4>
                <hr>
            </div>
            <div class="row text-center">
                <p>At Gills and Chlorophyll, we draw from India's rich agricultural heritage and innovative spirit to advance sustainable agriculture. Our locally designed aquaponics systems utilize India's knowledge and resources, combining modern technology with eco-friendly practices to enhance food security and environmental sustainability. Proudly Indian, we are committed to nurturing our land, empowering communities, and providing fresh, nutritious food for all. Join us in paving the way for a greener, more prosperous India.</p>
            </div>
        </div>
    </section>
</div>